:root {
  --main-font: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  --header-icon-size: 28px;
  --header-font-size: 18px;
  --header-game-info-spacing: 3px;
  --flag-appear-transition-timing: 0.2s;
  --flag-hide-transition-timing: 0.4s;
}

body {
  margin: 0px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--main-font);
}

select {
  font-family: var(--main-font);
}

#app {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  max-height: 100%;
}

.Game_minContent {
  min-width: fit-content;
}

.Game_easyWidth {
  width: calc(100% * 10 / 24);
  margin: auto;
}

.Game_mediumWidth {
  width: calc(100% * 18 / 24);
  margin: auto;
}

.Game_hardWidth {
  width: calc(100% * 24 / 24);
  margin: auto;
}

.Game_easyHeightRatio {
  position: relative;
  padding-top: calc(100% * 8 / 10);
}

.Game_mediumHeightRatio {
  position: relative;
  padding-top: calc(100% * 14 / 18);
}

.Game_hardHeightRatio {
  position: relative;
  padding-top: calc(100% * 20 / 24);
}

.Game_boardContainer {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  display: flex;
  flex-wrap: wrap;
}

.Game_easyTile {
  width: calc(100% / 10);
  height: calc(100% / 8);
}

.Game_mediumTile {
  width: calc(100% / 18);
  height: calc(100% / 14);
}

.Game_hardTile {
  width: calc(100% / 24);
  height: calc(100% / 20);
}

.Header_container {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: grey;
}

.Header_edgeSection {
  flex: 1;
}

.Header_middleSection {
  margin: 0px 10px;
}

.Header_centerAligned {
  display: flex;
  justify-content: center;
}

.Header_rightAligned {
  display: flex;
  justify-content: flex-end;
}

.Header_gameInfoContainer {
  display: flex;
  align-items: center;
}

.Header_iconSize {
  width: var(--header-icon-size);
  height: var(--header-icon-size);
}

.Header_gameInfoText {
  font-size: var(--header-font-size);
  color: white;
  cursor: default;
  margin-left: var(--header-game-info-spacing);
}

.Header_flagSectionFixedWidth {
  display: flex;
  font-size: var(--header-font-size);
  width: calc(var(--header-icon-size) + var(--header-game-info-spacing) + 3ch);
}

.Header_timerSectionMargin {
  margin-left: 10px;
}

.Header_actionButtonsContainer {
  display: flex;
  align-items: center;
}

.Header_resetButtonMargin {
  margin-right: 10px;
}

.Header_actionButtonImage {
  cursor: pointer;
  display: block;
  padding: 4px;
  border-radius: 50%;
  transition: background-color 0.3s;
}

.Header_actionButtonImage:hover {
  background-color: rgba(255,255,255,0.1);
}

.Tile_uncoveredBackground {
  width: 100%;
  height: 100%;
  background-color: coral;
}

.Tile_coveredBackground {
  width: 100%;
  height: 100%;
  background-color: cadetblue;
  overflow: hidden;
}

.Tile_flagIcon {
  display: block;
  width: 100%;
  height: 100%;
  padding: 10%;
  box-sizing: border-box;
}

.Tile_flagIconHidden {
  transform: scale(0);
  opacity: 0;
  transition: transform var(--flag-hide-transition-timing), opacity var(--flag-hide-transition-timing);
}

.Tile_flagIcon > .Icon_flag1 {
  visibility: visible;
  transition: transform var(--flag-appear-transition-timing);
}

.Tile_flagIconHidden > .Icon_flag1 {
  visibility: hidden;
  transform: translateY(100%);
}

.Tile_flagIcon > .Icon_flag2 {
  visibility: hidden;
}

.Tile_flagIconHidden > .Icon_flag2 {
  visibility: visible;
}
