:root {
  --main-font: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
  margin: 0px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--main-font);
}

select {
  font-family: var(--main-font);
}

#app {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  max-height: 100%;
}

.Game_minContent {
  min-width: fit-content;
}

.Game_easyWidth {
  width: calc(100%*10/24);
  margin: auto;
}

.Game_mediumWidth {
  width: calc(100%*18/24);
  margin: auto;
}

.Game_hardWidth {
  width: calc(100%*24/24);
  margin: auto;
}

.Game_easyHeightRatio {
  position: relative;
  padding-top: calc(100%*8/10);
}

.Game_mediumHeightRatio {
  position: relative;
  padding-top: calc(100%*14/18);
}

.Game_hardHeightRatio {
  position: relative;
  padding-top: calc(100%*20/24);
}

.Game_boardContainer {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  display: flex;
  flex-wrap: wrap;
}

.Game_easyTile {
  width: calc(100%/10);
  height: calc(100%/8);
}

.Game_mediumTile {
  width: calc(100%/18);
  height: calc(100%/14);
}

.Game_hardTile {
  width: calc(100%/24);
  height: calc(100%/20);
}

.Header_container {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: grey;
}

.Header_edgeSection {
  flex: 1;
}

.Header_middleSection {
  margin: 0px 10px;
}

.Header_centerAligned {
  display: flex;
  justify-content: center;
}

.Header_rightAligned {
  display: flex;
  justify-content: flex-end;
}

.Header_gameInfoContainer {
  display: flex;
  align-items: center;
}

.Header_gameInfoText {
  font-size: 18px;
  color: white;
  cursor: default;
  margin-left: 3px;
}

.Header_flagText {
  min-width: 3ch;
}

.Header_timerSection {
  margin-left: 10px;
}

.Header_actionButtonsContainer {
  display: flex;
  align-items: center;
}

.Header_resetButton {
  margin-right: 10px;
}

.Header_actionButtonImage {
  cursor: pointer;
  display: block;
  padding: 4px;
  border-radius: 50%;
  transition: background-color 0.3s;
}

.Header_actionButtonImage:hover {
  background-color: rgba(255,255,255,0.1);
}

.Tile_container {
  width: 100%;
  height: 100%;
}